<p-toolbar>
  <ng-template #start>
    <h3>{{ title() }}</h3>
  </ng-template>
  <ng-template #end>
    <div class="toolbar__actions">
      <p-button (onClick)="dialogOpened.emit(null)" icon="pi pi-plus" label="New" />
      <p-button
        (onClick)="dialogOpened.emit(selectedEntry)"
        [disabled]="!selectedEntry"
        icon="pi pi-pencil"
        label="Edit"
        severity="info"
      />
      <p-button
        (onClick)="deleteSelectedEntry()"
        [disabled]="!selectedEntry"
        icon="pi pi-trash"
        label="Delete"
        severity="danger"
      />
    </div>
  </ng-template>
</p-toolbar>

<p-table
  [value]="entries()"
  selectionMode="single"
  [(selection)]="selectedEntry"
  [scrollable]="true"
  scrollHeight="flex"
  [resizableColumns]="true"
  [virtualScroll]="true"
  [virtualScrollItemSize]="50"
  showGridlines
>
  <ng-template #header>
    <tr>
      @for (column of columns(); track column.key) {
        <th pResizableColumn>{{ column.label }}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-entry>
    <tr [pSelectableRow]="entry">
      @for (column of columns(); track column.key) {
        <td>
          @if (column.cellTemplate || !column.key) {
            <ng-container *ngTemplateOutlet="column.cellTemplate; context: { $implicit: entry }" />
          } @else if (column.type === 'date') {
            {{ entry.data[column.key] | date: 'mediumDate' }}
          } @else if (column.type === 'externalLink' && entry.data[column.key]) {
            <a [href]="entry.data[column.key]">
              {{ entry.data[column.key] }} <i class="pi pi-external-link"></i>
            </a>
          } @else {
            {{
              column.transform ? column.transform(entry.data[column.key]) : entry.data[column.key]
            }}
          }
        </td>
      }
    </tr>
  </ng-template>
</p-table>
