<p-toast></p-toast>
<p-toolbar>
  <ng-template #start>
    <h3>{{ title() }}</h3>
  </ng-template>
  <ng-template #end>
    <div class="toolbar__actions">
      <p-button icon="pi pi-plus" label="New" (onClick)="createNew()"></p-button>
      <p-button icon="pi pi-trash" label="Delete" severity="danger"></p-button>
    </div>
  </ng-template>
</p-toolbar>

<p-table [value]="entries()">
  <ng-template #header>
    <tr>
      @for (column of columns(); track column.key) {
        <th>{{ column.label }}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-entry>
    <tr>
      @for (column of columns(); track column.key) {
        <td>
          @if (column.cellTemplate) {
            <ng-container
              *ngTemplateOutlet="column.cellTemplate; context: { $implicit: entry }"
            ></ng-container>
          } @else if (column.isExternalLink && entry[column.key]) {
            <a [href]="entry[column.key]">
              {{ entry[column.key] }} <i class="pi pi-external-link"></i>
            </a>
          } @else {
            {{ entry[column.key] }}
          }
        </td>
      }
    </tr>
  </ng-template>
</p-table>
