<form #formDir="ngForm" class="dialog-form" [formGroup]="form" (ngSubmit)="submit()">
  <p-floatlabel>
    <input
      pInputText
      id="candidates-field__computing-id"
      [value]="entry.data.computing_id"
      type="text"
      [disabled]="true"
      fluid
    />
    <label for="candidates-field__computing-id">Computing ID</label>
  </p-floatlabel>
  <p-floatlabel>
    <input
      pInputText
      id="candidates-field__election"
      [value]="entry.data.nominee_election"
      type="text"
      [disabled]="true"
      fluid
    />
    <label for="candidates-field__election">Election</label>
  </p-floatlabel>
  <cs-input
    fieldId="candidates-field__position"
    label="Position"
    formControlName="position"
    [required]="true"
    [invalid]="isInvalid('position')"
  />
  <cs-input
    fieldId="candidates-field__speech"
    label="Speech"
    formControlName="speech"
    [invalid]="isInvalid('speech')"
  />
</form>
