<cs-crud-table
  title="Elections"
  [entries]="entries()"
  [columns]="columns()"
  (dialogOpened)="openDialog($event, 'Elections')"
/>

<!-- Template of the Active column cells -->
<ng-template #activeChipCell let-entry>
  <p-tag
    [severity]="isElectionActive(entry) ? 'success' : 'warn'"
    [value]="isElectionActive(entry) ? 'active' : 'inactive'"
  />
</ng-template>

<!-- Template of the Available Positions -->
<ng-template #availablePositionsCell let-entry>
  @for (pos of entry.available_positions.split(','); track pos) {
    <div>
      {{ pos | officerFormat }}
    </div>
  }
</ng-template>
