<cs-crud-table
  title="Elections"
  [entries]="dataSourceService.entries()"
  [columns]="columns()"
  (dialogOpened)="openDialog($event, 'Elections')"
/>

<!-- Template of the Active column cells -->
<ng-template #activeChipCell let-entry>
  <p-tag
    [severity]="entry.isActive() ? 'success' : 'warn'"
    [value]="entry.isActive() ? 'active' : 'inactive'"
  />
</ng-template>

<!-- Template of the Available Positions -->
<ng-template #availablePositionsCell let-entry>
  <ul>
    @for (pos of entry.data.available_positions; track pos) {
      <li>
        {{ pos | officerFormat }}
      </li>
    }
  </ul>
</ng-template>
