<form class="dialog-form" [formGroup]="form" (ngSubmit)="submit()">
  <cs-input
    id="elections-field__name"
    label="Election Name"
    formControlName="name"
    [required]="true"
    [invalid]="isInvalid('name')"
  />
  <cs-select
    id="elections-field__type"
    label="Election Type"
    formControlName="type"
    [options]="electionTypes"
    dataKey="label"
    optionLabel="label"
    optionValue="value"
    [required]="true"
    [invalid]="isInvalid('type')"
  />
  <div>
    <cs-datepicker
      id="elections-field__start-nominations"
      label="Start Nominations"
      formControlName="startNominations"
      [required]="true"
      [invalid]="isInvalid('startNominations') || form.hasError('nominationsTooLate')"
    />
    @if (form.hasError('nominationsTooLate') && (form.touched || form.dirty)) {
      <p-message severity="error" variant="simple">
        Nominations must happen before the voting period
      </p-message>
    }
  </div>
  <div>
    <cs-datepicker
      id="elections-field__start-voting"
      label="Start Voting"
      formControlName="startVoting"
      [required]="true"
      [invalid]="isInvalid('startVoting') || form.hasError('startVotingWrong')"
    />
    @if (form.hasError('nominationsTooLate') && (form.touched || form.dirty)) {
      <p-message severity="error" variant="simple">
        Voting must start after nominations start and before end voting
      </p-message>
    }
  </div>
  <div>
    <cs-datepicker
      id="elections-field__end-voting"
      label="End Voting"
      formControlName="endVoting"
      [required]="true"
      [invalid]="isInvalid('endVoting') || form.hasError('endVotingTooEarly')"
    />
    @if (form.hasError('endVotingTooEarly') && (form.touched || form.dirty)) {
      <p-message severity="error" variant="simple">
        End voting time must come after nominations and the start voting time.
      </p-message>
    }
  </div>
  <cs-listbox
    id="elections-field__available-positions"
    label="Available Positions"
    formControlName="availablePositions"
    [options]="officerPositions"
    dataKey="label"
    optionLabel="label"
    optionValue="value"
    [required]="true"
    [invalid]="isInvalid('availablePositions')"
  />
  <cs-input
    id="elections-field__survey-link"
    label="Survey Link"
    formControlName="surveyLink"
    [invalid]="isInvalid('surveyLink')"
  />
</form>
