<label [for]="fieldId()">{{ label() }}</label>
<p-listbox
  [(ngModel)]="value"
  [id]="fieldId()"
  [disabled]="isDisabled"
  [invalid]="isInvalid()"
  [multiple]="true"
  [checkbox]="true"
  [options]="options()"
  [dataKey]="dataKey()"
  [optionLabel]="optionLabel()"
  [optionValue]="optionValue()"
  (onChange)="onChange($event.value)"
  (onBlur)="onTouched()"
/>
@if (isRequiredMissing()) {
  <p-message severity="error" variant="simple">"{{ label() }}" is required</p-message>
}
@if (isMinLengthInvalid()) {
  <p-message severity="error" variant="simple"
    >"{{ label() }}" required at least {{ minLength() }} options picked</p-message
  >
}
