@if (!loading()) {
  <form #formDir="ngForm" class="dialog-form" [formGroup]="form" (ngSubmit)="submit()">
    <cs-input
      fieldId="nominees-field__computing-id"
      label="Computing ID"
      formControlName="computing_id"
      [required]="true"
      [invalid]="isInvalid('computing_id')"
    />
    <cs-input
      fieldId="nominees-field__full-name"
      label="Full Name"
      formControlName="full_name"
      [required]="true"
      [invalid]="isInvalid('full_name')"
    />
    <cs-input
      fieldId="nominees-field__linked_in"
      label="Linked In"
      formControlName="linked_in"
      [invalid]="isInvalid('linked_in')"
    />
    <cs-input
      fieldId="nominees-field__instagram"
      label="Instagram"
      formControlName="instagram"
      [invalid]="isInvalid('instagram')"
    />
    <cs-input
      fieldId="nominees-field__email"
      label="Email"
      formControlName="email"
      [invalid]="isInvalid('email')"
    />
    <cs-input
      fieldId="nominees-field__discord-username"
      label="Discord Username"
      formControlName="discord_username"
      [invalid]="isInvalid('discord_username')"
    />
  </form>
}
