/* You can add global styles to this file, and also import other style files */
@use 'app/pages/dashboard/crud-components/crud-dialog/dialog';
@use 'app/pages/dashboard/crud-components/crud-table/crud-table';
@import 'primeicons/primeicons.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}
