<cs-elections-dialog> </cs-elections-dialog>
<cs-crud-table
  title="Elections"
  [entries]="elections"
  [columns]="columns()"
  [createTemplate]="createDialog()"
/>

<ng-template #dialog />

<!-- Template of the Active column cells -->
<ng-template #activeChipCell let-entry>
  <p-tag
    [severity]="entry.isActive ? 'success' : 'warn'"
    [value]="entry.isActive ? 'active' : 'inactive'"
  />
</ng-template>

<!-- Template of the Available Positions -->
<ng-template #availablePositionsCell let-entry>
  @for (pos of entry.availablePositions; track pos) {
    <div>
      {{ pos }}
    </div>
  }
</ng-template>
