<p-floatlabel variant="on">
  <p-select
    [(ngModel)]="value"
    [inputId]="fieldId()"
    [options]="options()"
    [dataKey]="dataKey()"
    [optionLabel]="optionLabel()"
    [optionValue]="optionValue()"
    [disabled]="isDisabled"
    [invalid]="isInvalid()"
    (onChange)="onChange($event.value)"
    (onBlur)="onTouched()"
    appendTo="body"
  >
  </p-select>
  <label [for]="fieldId()">{{ label() }}</label>
</p-floatlabel>
@if (isRequiredMissing()) {
  <p-message severity="error" variant="simple">"{{ label() }}" is required</p-message>
}
