.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 1rem;
}

.p-dialog {
  padding: 1rem;
  width: clamp(20rem, 60vw, 35rem);

  &-content {
    display: flex;
    justify-content: center;
  }
}
